html {
    cursor: url(imagens/mata_mosquito.png) 30 30, auto;
    /*muda o ponteiro do mouse para raquete e 30px p/ esquerda e 30px p/ baixo*/
}

body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Substitui "100%" por "cover" */
    overflow: hidden;
    /* Evita que o conteúdo exceda os limites da tela */
}

.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3 {
    width: 90px;
    height: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: fixed;
    width: 100%;
    padding: 10px;
    left: 0;
    bottom: 0;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
}

.vidas {
    display: flex;
    align-items: center;
}

.cronometro {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    /* Ajuste o valor conforme necessário */
    z-index: 1;
}


@media (max-width: 767px) {
    html {
        cursor: auto;
    }
}

/* Removi o cursor personalizado para dispositivos móveis */